<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Eliminar registro</title>
	<link rel="stylesheet" href="{% static 'css/CRUD.css' %}">
</head>
<body>

	<div class="Banner-box">
      <h1 id="titulo">Vacunación COVID-19</h1>
      
      <a href="{% url 'home' %}"><input type="button" class="btn_01" id="btn_estadisticas" value="Ver estadísticas"></a>
      
      <a href="{% url 'logout' %}"><input type="button" class="btn_01" id="btn_logout" value="Cerrar sesion"></a>

      <a href="{% url 'index' %}"><input type="submit" class="btn02" id="btn_regresar" value="Regresar"></a>
    </div>

    <div class="gestion_box">
		<h3>Eliminar registro</h3>

		<img src="{% static 'img/delete.png' %}" alt="editar" class="img">  

		<form method="POST">
		{% csrf_token %}
		<h4>¿Desea el registro de {{object.nombre}} - DUI: {{object.dui}}?</h4>
		<a href=""><input type="submit" class="btn_01" id="btn_confirmar" value="Confirmar"></a>
		<a href="{% url 'index' %}"><input type="button" class="btn_01" id="btn_cancelar" value="Cancelar"></a>
		</form>

	</div>

</body>
</html>